.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: inline-block;
  width: 100px;
  height: 50px;
}
.header__logo img {
  max-width: 100px;
  max-height: 50px;
}
.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-header__link {
  font-family: "Myriad Pro - Cond";
  font-size: 19.2px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.menu-header__link_active {
  text-decoration: underline;
}
.menu-header__link:hover {
  color: #e74c3c;
}